@using Packt.Shared
@using System.Globalization
@model Northwind.Mvc.Models.CategoryView

@{
    if(Model != null && Model.Category != null)
    {
    ViewData["Title"] = "Category Detail - "+ Model.Category.CategoryName;
    }
}

<h2>Category Details</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        @if (Model != null && Model.Category != null && Model.Products != null)
        {
        <dt>Category ID</dt>
        <dd>@Model.Category.CategoryId</dd>
        <dt>Category Name</dt>
        <dd>@Model.Category.CategoryName</dd>
        <dt>Description</dt>
        <dd>@Model.Category.Description</dd>
        <div>
            <h4>Products:</h4>
        <table class="table">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Product Name</td>
                    <td>Price</td>
                    <td>Units in stock</td>
                </tr>
            </thead>
            <tbody>
                @foreach(Product p in Model.Products)
            {
                <tr>
                    <td>@p.ProductId</td>
                    <td>@p.ProductName</td>
                    @if (p.UnitPrice != null)
                    {
                    <td>@p.UnitPrice.Value.ToString("C", new CultureInfo("en-IE"))</td>
                    }
                    
                    <td>@p.UnitsInStock</td>
                    <td>
                        <a asp-controller="Home"
                            asp-action="ProductDetail"
                            asp-route-id="@p.ProductId">
                            View
                            </a>
                    </td>
                    </tr>
            }
            </tbody> 
        </table>
        </div>
        }
    </dl>
</div> 